{% extends 'base.html.twig' %}

{% block title %}

    {{ title }}
{% endblock %}

{% block body %}
    {{ parent() }}
<h1>Manage this place: {{ title }}</h1>
<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>dummy name</td>
        <td>dummy city</td>
        <td>dummy address</td>
        <td>manage</td>
    </tr>
    <tr>
        <td>dummy name</td>
        <td>dummy city</td>
        <td>dummy address</td>
        <td>manage</td>
    </tr>
    <tr>
        <td>dummy name</td>
        <td>dummy city</td>
        <td>dummy address</td>
        <td>manage</td>
    </tr>
    <tr>
        <td>dummy name</td>
        <td>dummy city</td>
        <td>dummy address</td>
        <td>manage</td>
    </tr>

</table>
{% endblock %}